body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.container {
  /* max-width: 1140px; */
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.venom {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 550px;
  width: 42%;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}
.logo-link {
  display: inline-block;
  margin-right: 50px;
}
.humburger-menu-button {
  display: none;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-menu-item {
  margin-right: 30px;
}
.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.film-date {
  display: block;
  margin-bottom: 2%;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.film-description {
  max-width: 423px;
  margin-top: 3%;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
.film-logo {
  width: 70%;
}
.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button-icon,
.button-text {
  display: inline-block;
  vertical-align: middle;
}
.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.button-primary {
  color: #8d0019;
  background-color: #ffffff;
}
.button-link {
  color: #ffffff;
}
.button-group {
  margin-top: 5%;
}
.blood {
  background: url("../img/blood.png") no-repeat top right / 55%,
    #14131a url("../img/background.png") no-repeat center center / 100%;
}
.primary-bg {
  background: #14131a url("../img/background.png") no-repeat center center /
    100%;
}
.content {
  display: flex;
}
.col {
  flex-basis: 50%;
}
.content-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px 0px 20px;
}
.content-text {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
  margin-bottom: 30px;
}
.content-subtitle {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  margin-top: 0;
}
.content .list {
  list-style-type: none;
  padding: 0;
}
.list-item {
  line-height: 1.5;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
.column-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-width: 350px;
  margin: 0;
}
.content .trailer {
  max-width: 356px;
  width: 100%;
  height: 205px;
  background: url("../img/trailer-cover.png") no-repeat center / contain;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}
.trailer .play {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.trailer .play:hover {
  width: 50px;
  height: 50px;
}
.trailer .play-icon {
  transform: translate(15.5px, 15px);
}
.trailer .play:hover .play-icon {
  transform: translate(18.5px, 17px);
}
.poster-wrapper {
  display: flex;
  align-items: start;
}
.poster {
  max-width: 362px;
  width: 100%;
  border-radius: 5px;
  margin-right: 30px;
}
.poster-wrapper .content-subtitle {
  margin-bottom: 5px;
}
.poster-wrapper .content-text {
  margin-bottom: 20px;
}
.poster-wrapper .list {
  margin: 0px 0px 20px;
}
.humburger-menu-button-close {
  display: none;
}
@media (max-width: 1024px) {
  .primary-bg {
    background: #14131a;
  }
  .header {
    margin-bottom: 4%;
  }
  .film {
    margin-top: 9%;
  }
  .content {
    margin-top: 9%;
    flex-direction: column;
  }
  .col {
    flex-basis: auto;
    margin-bottom: 10%;
  }
  .poster {
    max-width: 356px;
  }
}
@media (max-width: 768px) {
  .blood {
    background: #14131a;
  }
  .venom {
    width: 25%;
    top: 15%;
  }
}
@media (max-width: 576px) {
  .nav {
    margin-left: auto;
  }
  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 666;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.2s;
  }
  .nav-menu-item {
    margin-right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .nav-menu-link {
    color: #14131a;
  }
  .humburger-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: #14131a;
    cursor: pointer;
  }
  .humburger-menu-button-text {
    margin-right: 11px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .humburger-menu-button-close {
    display: flex;
    position: fixed;
    opacity: 0;
    right: 25px;
    top: 65px;
    align-items: center;
    z-index: 777;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transform: translateX(500%);
    transition: transform 0.2s;
    transition-delay: 0.3s;
  }
  .humburger-menu-button-close-text {
    margin-right: 11px;
    font-size: 14px;
    line-height: 16px;
    color: #14131a;
  }
  .film-text {
    text-align: center;
  }
  .film-description {
    margin-left: auto;
    margin-right: auto;
  }
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .column-2 {
    column-count: 1;
  }
  .poster-wrapper {
    flex-direction: column;
  }
  .poster {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .humburger-menu__active {
    transform: translateX(0);
    opacity: 1;
  }
}
